extends layout

append content
  main(class="mainContainer")
    h1 Dane podstawowe
    h2 Dane osobowe

    article
      div(class="daneWiersz")
        span(class="tytul") Imię (imiona) nazwisko:
        span(class="wartosc") Jan Kowalski
      div(class="daneWiersz")
        span(class="tytul") Data i miejsce urodzenia:
        span(class="wartosc") 01.01.1900, Warszawa
      div(class="daneWiersz")
        span(class="tytul") PESEL:
        span(class="wartosc") 12345678900
      div(class="daneWiersz")
        span(class="tytul") Płeć:
        span(class="wartosc") Mężczyzna
      div(class="daneWiersz")
        span(class="tytul") Obywatelstwo polskie:
        span(class="wartosc") Tak
      div(class="daneWiersz")
        span(class="tytul") Nazwisko rodowe:
        span(class="wartosc") Nowak
      div(class="daneWiersz")
        span(class="tytul") Imię matki i ojca:
        span(class="wartosc") Gabriela, Kamil
