server {
    listen 80;
    listen [::]:80;

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name example.com api.example.com cufs.example.com uonetplus.example.com uonetplus-opiekun.example.com uonetplus-uczen.example.com uonetplus-uzytkownik.example.com uonetplus-wiadomosciplus.example.com;

    ssl_trusted_certificate   /path/to/chain.pem;
    ssl_certificate           /path/to/fullchain.pem;
    ssl_certificate_key       /path/to/privkey.pem;

    location / {
        proxy_set_header Host $host;
        proxy_pass http://localhost:3000;
    }
}
