extends layout

block content
  div(class="startScreen")
    div(class="holder")
      div(class="content")
        div(class="panel linkownia pracownik klient")
          a(href="#{uonetplusOpiekun}/demo123/123456/Start/Index/")
            div(class="imagedHeader directLink")
              div(id="idEmptyAppUczeń")
                div(class="name") Uczeń
