extends layout

block content
  h1= title
  p Welcome to #{title}!
  ul
    li
      a(href="http://cufs.fakelog.localhost:3000") cufs
    li
      a(href="http://uonetplus.fakelog.localhost:3000") uonetplus
    li
      a(href="http://uonetplus-opiekun.fakelog.localhost:3000") uonetplus-opiekun
    li
      a(href="http://uonetplus-uzytkownik.fakelog.localhost:3000") uonetplus-uzytkownik
