doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block extraHeader
  body
    div(class="wrapper")
      block content
    footer(class="footer")
      ul(class="footer__nav")
        li
          a(href="https://github.com/wulkanowy/fake-log") Github
        li
          a(href=mainHost) fake-log homepage
    block extraFooter
