extends layout

block extraHeader
  link(rel='stylesheet' href='/stylesheets/login.css')

block content
  div(id="MainDiv")
    form(method="post")

      div(class="LogOnBoard")

        h1(id="h1Default") Logowanie
        h2 Proszę podać e-mail i hasło:
        div
          label(for="LoginName") E-mail:
          input(name="LoginName" id="LoginName" type="text" autofocus="autofocus")

        div
          label(for="Password") Hasło:
          input(name="Password" id="Password" type="password")

      div(id="UnlockRequestSection")
        a(href="/Default/AccountManage/CreateAccount" class="Account") Załóż konto
        a(href="/Default/AccountManage/UnlockAccount" class="Account") Przywróć dostęp
        a(href="/Default/AccountManage/SetNewPassword" class="Account") Zmień hasło

      div
         input(type="submit" value="Zaloguj się >")

      div(class="ErrorMessage")= message
