extends layout

block extraFooter
  script
    | document.querySelector("#widokSzczegolowy").addEventListener("change", () => {
    |   location = 'Wszystkie?details=2';
    | });

block content
  main.mainContainer
    h1 Oceny

    #filters
      div
        label(for="okresyKlasyfikacyjneDropDownList") Okres klasyfikacyjny:
        select#okresyKlasyfikacyjneDropDownList(name="okresyKlasyfikacyjneDropDownList")
          option(value="1234567") 1
          option(value="7654321" selected="selected") 2

      div
        span Widok ocen cząstkowych:
        input#widokProsty(name="szczegolyOcenRadio" value="1" checked="checked" type="radio")
        label(for="widokProsty") Skrócony
        input#widokSzczegolowy(name="szczegolyOcenRadio" value="2" type="radio")
        label(for="widokSzczegolowy") Szczegółowy

    table.ocenyZwykle-table
      thead
        tr
          th Przedmiot
          th Oceny cząstkowe
          th Średnia
          th Przewidywana ocena roczna
          th Ocena roczna
      tbody
        tr
          td Zachowanie
          td.break-word Brak ocen
          td -
          td bardzo dobre
          td bardzo dobre
        tr
          td Język polski
          td.break-word 0
          td 3,53
          td -
          td dobry
        tr
          td Wychowanie fizyczne
          td.break-word 0
          td 5,05
          td bardzo dobry
          td celujący
        tr
          td Język angielski
          td.break-word 0
          td 4,4
          td 4/5
          td bardzo dobry
        tr
          td Wiedza o społeczeństwie
          td.break-word Brak ocen
          td -
          td -
          td -
        tr
          td Edukacja dla bezpieczeństwa
          td.break-word Brak ocen
          td -
          td -
          td -
        tr
          td Zajęcia z wychowawcą
          td.break-word Brak ocen
          td -
          td -
          td -
        tr
          td Fizyka
          td.break-word Brak ocen
          td -
          td -
          td -
