extends layout

block content
  main(class="mainContainer")
    h1 Strona główna
    ul
      li
        a(href="/Default/123456/Uczen.mvc/DanePodstawowe") Uczeń
      li
        a(href="/Default/123456/Oceny/Wszystkie") Oceny
