table:not(.presentData),
.ocenyZwykle-table,
.ocenySzczegoly-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  thead th {
    background: #d32f2f;
    color: #fff;
    font-weight: normal;
  }

  tbody tr {
    &:nth-child(2n) {
      background: #ccbfbf;
    }
  }

  th, td {
    padding: 1rem;
    border: 1px solid #333333;
    width: 20%;

    &:nth-of-type(1) {
      width: 25%;
    }

    &:nth-of-type(2) {
      width: 35%;
    }

    &:nth-of-type(3) {
      width: 15%;
    }

    &:nth-last-of-type(2) {
      width: 15%;
    }

    &:nth-last-of-type(1) {
      width: 20%;
    }
  }
}
