article {
  padding: 10px 0;

  &:not(:last-child) {
    border-bottom: 1px solid red;
  }

  .daneWiersz {
    display: flex;

    .tytul {
      width: 100%;
      max-width: 250px;
      text-align: right;
      font-weight: bold;
      line-height: 1.5;
    }

    .wartosc {
      margin-left: 10px;
    }
  }
}
