html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: 0 auto;
}

a {
  color: #333;

  &:hover {
    color: #888;
  }
}

.wrapper {
  flex: 1;
  padding-bottom: 100px;
}

.container {
  padding: 20px;
}

form {
  background: #bbb;
  padding: 1rem;
}

.columnSection {
  display: flex;
}

.footer {
  border-top: 1px solid;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: 0;
  background: rgba(255, 255, 255, 0.8);

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        padding: 10px 15px;
        display: block;
      }
    }
  }
}
