extends layout

block content
    div.container
        h1= title
        p Welcome to #{title}!
        ul
            li
                a(href="http://cufs." + domain) cufs - login page
            li
                a(href="http://uonetplus." + domain) uonetplus
            li
                a(href="http://uonetplus-opiekun." + domain) uonetplus-opiekun
            li
                a(href="http://uonetplus-uzytkownik." + domain) uonetplus-uzytkownik
