extends layout

block content
    div.container
        h1= title
        p Welcome to #{title}!
        ul
            li
                a(href="http://api." + domain) api
            li
                a(href="http://cufs." + domain) cufs
            li
                a(href="http://uonetplus." + domain) uonetplus
            li
                a(href="http://uonetplus-uczen." + domain) uonetplus-uczen
            li
                a(href="http://uonetplus-opiekun." + domain) uonetplus-opiekun
            li
                a(href="http://uonetplus-uzytkownik." + domain) uonetplus-uzytkownik
