doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block extraHeader
  body
    div.wrapper
      block content
    footer.footer
      ul.footer__nav
        li
          a(href="https://github.com/wulkanowy/fake-log") Github
        li
          a(href=mainHost) fake-log homepage
    block extraFooter
