extends layout

block content
  #MainPage_InfoPage
    .startScreen
      .topBar
        .loginBox
          div
            a.loginButton(href=uonetplusUrl + "/Default/LoginEndpoint.aspx") Zaloguj się
