extends layout

block content
  form#form1

    div.aspNetHidden
    div.aspNetHidden
    div
      br
      .
        Adres <b>jan@fakelog.cf</b> nie został zarejestrowany w dzienniku uczniowskim jako adres rodzica, bądź ucznia
