extends layout

append content
  main.mainContainer
    h1 Dostęp mobilny

    article
      h2 Rejestracja
      a.button(href="/powiatwulkanowy/123456/DostepMobilny.mvc/Rejestruj") Zarejestruj urządzenie mobilne

    article
      h2 Zarejestrowane urządzenia

    table
      thead
        tr
          th Urządzenie
          th Data rejestracji
          th
      tbody
        each device in devices
          tr.text-center
            td= device.NazwaUrzadzenia
            td= device.DataUtworzenia
            td.cellWithButton
              a.button(href="/powiatwulkanowy/123456/DostepMobilny.mvc/Wyrejestruj/" + device.Id) Wyrejestruj
