extends layout

append content
  main.mainContainer
    h1 Wyrejestruj urządzenie

    h2 Wulkanowy (Android 10.0.0)

    form(action="/powiatwulkanowy/123456/DostepMobilny.mvc/PotwierdzWyrejestrowanie", method="post")
      input#id(name="Id", type="hidden", value="1234")
      input.button(type="submit" value="Wyrejestruj")
