extends layout

append extraHeader
  style
    | .blockElement {
    |    display: block;
    |    margin: 10px;
    | }

append content
  main.mainContainer
    h1 Rejestracja urządzenia mobilnego

    article#rejestracja-formularz.text-center
      img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJMAAACTAQMAAACwK7lWAAAABlBMVEX///8AAABVwtN+AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAB+klEQVRIieWWvY3EIBCFxyIggwaQaMMZLdkN+KcBb0tktIFEA96MAHnusV7pLvTEhzZYfwHyvHlvxkT/7VjmV2rLqM7AW+BLwgypV/VbIFv9NeJRwkJ51fJixZW3kQ8pS2Sjm7Q/5GzTzWi8EU1ShjqSm6jssfyt7QmDfsdYvr9fTR+xfoLaU5voFzxkNvIe3Rz50ETaXxJmgpsrhEcp2aa8SBgFPonPsZza710MCdPOkFuIN52H2oyEdZ+yQ9/eXM7QSMJM7xXvjL7RnO77njIacV+bRgjQbBUyXKkVR39oWFVtEmaT36gNzO+Uh3jr95QREpluDRSwjI2FE80xLwHGKZuEDZxtLcwIJazaJgmzld+Vz1AOXd7pvu8pG2ov3WhnY16hoox57kzt0SPcRsYIyRgSbN6m0ETMJrUFdaF67daYJwkzIc/oWPV75T19Z/ZDhnzgYHrNDJ8WETN0+6WtkdZKi4T1AcZugX4VucwkYZg9ay1bwIu47jgJo+D5MzjPkVb+5vIpG/Oa+vxbgoNnScJsVa/YhoSNgft4k7CP/AhHnjSKuHfUU4a+7SnP0b979766PGSf/YbFiF3hr28uHzMkEuKFbHSv4xCyrXeP4Jch3vNPwsY+OHu4qzMihjpi6XtV+5PKJWGf7yaFFYfPn4nwR8D+1/kBSYetNXqSF/8AAAAASUVORK5CYII=")
      span.blockElement Token: FK100000
      span.blockElement Symbol: powiatwulkanowy
      span.blockElement Pin: 999999
