html(lang="pl")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Uczeń Plus
        script var VParam = { antiForgeryToken: 'tlVQJHnHkL5w82QvBpkaAFBu3Ne6ck2rVu77k5a2rjUPkcP3K86fYB-qJ8tlBwepyGXXnA0RtFLI-edFLAsVfx_u42XGdnFUZ2Cka5In0LefMQpF0', appGuid: '9626286cfb44a2842473c382b35feebd', appUrl: 'https://uonetplus-uczenplus.fakelog.cf', appCustomerDb: 'powiatwulkanowy', appCustomerSymbol: '123456', apiUrl: 'https://uonetplus-uczenplus.fakelog.cf/powiatwulkanowy/123456/api', startUrl: 'https://uonetplus.fakelog.cf/powiatwulkanowy', wiadomosciPlusUrl: 'https://uonetplus-wiadomosciplus.fakelog.cf/powiatwulkanowy/LoginEndpoint.aspx', logoutUrl: 'https://uonetplus-uczenplus.fakelog.cf/powiatwulkanowy/123456/LoginEndpoint.aspx?logout=true', user: { id: 0, name: 'jan@fakelog.cf' }, serverDate: '1970-01-02T20:10:00', appVersion: '24.01.0023.52863', downloaderUrl: 'https://dds.fakelog.cf/Download/', downloaderBuffer: '500', downloaderInterval: '1', privacyPolicyUrl: 'https://www.wulkanowy.net.pl/strona/polityka-prywatnosci-190', cookiePolicyUrl: 'https://www.wulkanowy.net.pl/strona/polityka-cookies-641', infoEnclosureUrl: 'https://www.wulkanowy.net.pl/strona/klauzula-informacyjna-868', accessDeclarationUrl: 'https://www.wulkanowy.net.pl/strona/deklaracja-dostepnosci-869', helpUrl: 'https://www.bazawiedzy.wulkanowy.net.pl/bazawiedzy.php/wyszukaj/1/7/8/2/2/', manualUrl: 'https://aplikacje.wulkanowy.net.pl/uonetplus/UczenPlus.pdf', lastUpdatesUrl: 'http://www.wulkanowy.net.pl/aktualizacje.php ', footerLogo: '', isEduOne: true };
        base(href="/")
    body
        #vulcan-loader
            .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
                p
        #root
